
.clearfix {
display: block;
}
.clearfix:after {
content: " ";
display: block;
height: 0;
clear: both;
visibility: hidden;
overflow: hidden;
}

li {
display: list-item;
text-align: -webkit-match-parent;
} ul {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
 ul {
list-style: none;
}
.round {
border-radius:100%;
  display: block;
height: 25px;
width: 26px;
float: left;
}


p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

.addon li .legend-info {
float: left;
margin-left: 10px;
}

.addon strong {
display: block;
margin: 0 0 4px;
}

strong {
font-weight: bold;
}
