/*--
Original template Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body, h1,h2,h3,h4,h5,h6{
	padding:0;
	margin:0;
    font-family: "Lato Light",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;    
	background: #fbfaf9;
    color: #564839;
}

body p {
    
        font-size: 24px;

}
.illustration {
    
    max-width: 400px;
    padding:20px;
}
 @media only screen and (max-width: 767px) {
     
body p {
    
        font-size: 16px;

}

.illustration {
    
    max-width: 250px;
}

 }


.container-sm{
    
    padding: 30px;
 
}

footer{
	padding:3em 0;
    text-align: center;
    font-size: 12px;
}
.gallery_product {
    
    margin-bottom: 20px;
    text-align:center;
}    

.gallery_product .card-title {
    
    margin-bottom: 10px;
    
}



.gallery_product .img-responsive {
    
    border-radius: 50%;
    max-width: 70%;

    margin-bottom: 20px;
    padding: 10px;
    border: #74614e 3px solid;
    opacity: 0.5;
    
}
.filter-button{
    margin:20px;
    
}
.gallery_product .img-responsive:hover {
    
    opacity: 1;
    border:  #74614e 25px solid;
    
}
    a {
 font-weight:700;
 color:#564839;
 text-decoration:none;
 position:relative;
 white-space:nowrap
}
    a { outline: 0;}
    a:after {
 content:"";
 width:100%;
 height:4px;
 left:0;
 position:absolute;
 bottom:-2px;
 z-index:-1;
 transition:.2s;
 opacity:0;
 background:#74614e
}
a:hover:after {
 opacity:1
}
    .fab:hover { text-decoration: none;}
    .inactive {opacity: 0.5}
    
